<h2 mat-dialog-title>Editar Alerta</h2>

<mat-dialog-content>
  <!-- Campo para el nombre del usuario -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput/>
  </mat-form-field>

  <!-- Campo para el correo del usuario -->
  <mat-form-field appearance="fill">
    <mat-label>variable</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>inicio</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fin</mat-label>
    <input matInput />
  </mat-form-field>

  <!-- Campo para el nombre de usuario -->
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput [value]="color"/>
        <ngx-colors
  ngx-colors-trigger
  [(ngModel)]="color"
  acceptLabel="Select"
  cancelLabel="Cancel"
>
</ngx-colors>
  </mat-form-field>

  <!-- Selector de autoridades -->
  <mat-form-field appearance="fill">
    <mat-label>Nivel</mat-label>
    <mat-select multiple>
      <mat-option >
        1
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-form-field appearance="fill">
    <mat-label>Estado</mat-label>
    <input matInput />
  </mat-form-field>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    class="register-button"
    type="submit"
    (click)="onSave()"
  >
    Guardar
  </button>
</mat-dialog-actions>

