/* Aseguramos que el contenido principal tenga el espacio correcto */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial, sans-serif;
  color: #003366;
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
}

/* Wrapper que contiene la barra lateral y el contenido principal */
.wrapper {
  display: flex;
  height: 100vh; /* Aseguramos que el contenedor ocupe toda la altura */
}

/* Barra lateral */
.sidebar {
  width: 250px; /* Ajusta el ancho de la barra lateral */
  background-color: white;
  color: #003366;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed; /* Barra lateral fija */
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto; /* Permite el desplazamiento si el contenido es grande */
  padding-top: 20px;
}

.sidebar-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #003366;
  margin-bottom: 20px;
}

/* Estilo para los ítems del menú */
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  color: #003366;
  font-size: 18px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.arrow {
  font-size: 14px;
}

/* Submenú */
.submenu {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.submenu li {
  padding-left: 30px;
  gap: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.submenu li a {
  color: #003366;
  text-decoration: none;
  font-size: 16px;
}

.submenu li a:hover {
  text-decoration: underline;
}

/* Contenido principal */
.main-content {
  margin-left: 25px; 
  padding: 20px;
  overflow-y: auto; /* Permite que el contenido principal se desplace */
  height: 10vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
}

/* Asegura que el contenido sea visible y tenga scroll si es necesario */
@media (max-width: 1024px) {
  :host {
    display: block;
  }
  .wrapper {
    flex-direction: column; /* En dispositivos más pequeños, cambia el diseño */
  }

  .sidebar {
    position: relative; /* Barra lateral se vuelve relativa en pantallas más pequeñas */
    width: 100%;
    height: auto; /* La barra lateral se ajusta al contenido */
    z-index: 1000;
  }

  .main-content {
    margin-left: 0; /* El contenido ocupa todo el ancho */
  }
}
