<div [class.collapsed]="isCollapsed" class="sidebar">
    <input type="checkbox" id="checkbox" (change)="toggleSidebar()" [checked]="!isCollapsed">
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
    </label>
  
    <ul class="menu">
      <!-- Sección superior (solo home) -->
      <li *ngFor="let item of menuItemsTop" class="menu-item" [class.open]="item.isSubmenuOpen">
        <div (click)="toggleSubmenu(item)">
          <i class="material-icons">{{ item.icon }}</i>
          <span *ngIf="!isCollapsed" class="menu-text">{{ item.label }}</span>
          <i *ngIf="item.submenu?.length && !isCollapsed" class="material-icons">
            {{ item.isSubmenuOpen ? 'expand_less' : 'expand_more' }}
          </i>
        </div>
      </li>
  
      <!-- Línea separadora -->
      <li *ngIf="!isCollapsed" class="separator">
        <hr />
      </li>
  
      <!-- Sección inferior (login en lugar de cerrar sesión) -->
      <li *ngFor="let item of menuItemsBottom" class="menu-item">
        <div (click)="toggleSubmenu(item)">
          <i class="material-icons">{{ item.icon }}</i>
          <span *ngIf="!isCollapsed" class="menu-text">{{ item.label }}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="div-content">
    <nav>
      <ul>
        <li>
          <a href="/prueba">aggggggggggggggggggggggggggggggggggg</a>
        </li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
  