<h2 mat-dialog-title>Editar Usuario</h2>

<mat-dialog-content>
  <!-- Campo para el nombre del usuario -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre" />
  </mat-form-field>

  <!-- Campo para el correo del usuario -->
  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="data.correo" />
  </mat-form-field>

  <!-- Campo para el nombre de usuario -->
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput [(ngModel)]="data.usuario" />
  </mat-form-field>

  <!-- Selector de autoridades -->
  <mat-form-field appearance="fill">
    <mat-label>Autoridades</mat-label>
    <mat-select [(value)]="selectedAuthorities" multiple>
      <mat-option *ngFor="let authority of authorities$ | async" [value]="authority._id">
        {{ authority.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    class="register-button"
    type="submit"
    [disabled]="adminForm.invalid"
    (click)="onSave()"
  >
    Guardar
  </button>
</mat-dialog-actions>
