<div class="app-container">
  <app-nav></app-nav>
</div>

<div class="background">
  <div class="login-container">
    <div class="login-box">
      <h1>Iniciar Sesión </h1>
      <form (submit)="login(); $event.preventDefault()"> <!-- Conectar con método login -->
        <div class="input-group">
          <label for="username">
            <i class="fa fa-user"></i>
          </label>
          <input type="text" id="username" placeholder="Username or Email" [(ngModel)]="usernameOrEmail"
            name="usernameOrEmail" />
        </div>
        <div class="input-group">
          <label for="password">
            <i class="fa fa-lock"></i>
          </label>
          <input type="password" id="password" placeholder="Password" [(ngModel)]="password" name="password" />
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit" class="login-button">Iniciar Sesión </button>
      </form>
      <div class="register-link">
        <button (click)="redirectToRegister()" class="register-button">Regístrarme</button>
      </div>
      <p class="forgot-link">
        <a href="/recuperarView" class="forgot-password">Olvidé mi contraseña</a>
      </p>
    </div>
  </div>
</div>