<div class="app-container">
  <app-side-login class="app-side"></app-side-login> <!-- Barra lateral -->
  <router-outlet></router-outlet>
  <!-- Contenedor principal -->
  <div class="main-content">
    <!-- Selector de ubicación -->
    <select id="location" class="map-selector" (change)="onLocationChange($event)">
      <option value="default">El Salvador</option>
      <option value="soyapango">Campus Soyapango</option>
      <option value="antiguo">Campus Antiguo</option>
    </select>

    <!-- Contenedor para el mapa -->
    <div id="map"></div>
  </div>
</div>
