<div class="app-container">
  <div class="main-content">
    <!-- Selector de ubicación -->
    <select id="location" class="map-selector" (change)="onLocationChange($event)">
      <option value="/#" selected>/#</option>
      <option value="monitoreo">Monitoreo</option>
      <option value="transporteUDB">Transporte UDB</option>
      <option value="transportePublico">Transporte Público</option>
    </select>
    
    <!-- Contenedor para el mapa -->
    <div id="map"></div>

    <!-- Contenedor para el bottom tab -->
    <div id="bottom-tab-container">
      <app-nav></app-nav>
    </div>
  </div>
</div>
