<div class="app-container">
  <!-- <app-nav></app-nav>  -->
  <router-outlet></router-outlet>

  <div class="main-content">
    <!-- Selector de ubicación -->
    <select id="location" class="map-selector" (change)="onLocationChange($event)">
      <option value="default">El Salvador</option>
      <option value="soyapango">Campus Soyapango</option>
      <option value="antiguo">Campus Antiguo</option>
    </select>

    <!-- Contenedor para el mapa -->
      <div id="map"></div>

    <!-- Contenedor para el bottom tab -->
    <div id="bottom-tab-container">
      <app-nav></app-nav>    </div>
  </div>
</div>
