<div *ngIf="isLargeScreen">
    <app-premium-side (sideNavToggle)="onSideNavToggle($event)"></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
    <app-bottom-tab></app-bottom-tab>
</div>
<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
    <div class="main-container">
        <div class="header">
            <h1>Edificios</h1>
            <button mat-fab extended class="create-button" (click)="navigateToCreateBuilding()">
                <mat-icon>add</mat-icon>
                <p> Crear edificio </p>
            </button>
        </div>
        
        <!-- Mostrar los edificios -->
        <div *ngFor="let building of buildings" class="building-card">
            <div class="building-info">
                <img *ngIf="building.imagenPrincipal" [src]="buildingImages[building.imagenPrincipal]" alt="Imagen del edificio" class="buildingimagen">
        <span>{{ building.nombre }}</span>
            </div>
            <div class="actions">
                <button mat-button class="action" (click)="navigateToViewBuilding(building._id)">Ver edificio</button>
                <button mat-button class="action" (click)="navigateToEditBuilding(building._id)">Editar edificio</button>
                <button mat-button class="action" (click)="deleteBuilding(building._id)">Eliminar edificio</button>
              </div>
        </div>
    </div>
</div>
