<div *ngIf="isLargeScreen">
  <app-side (sideNavToggle)="onSideNavToggle($event)"></app-side>
</div>
<div *ngIf="!isLargeScreen">
  <app-bottom-tab></app-bottom-tab>
</div>

<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
  <div class="main-container">
    <div class="header">
      <h2>Control de alertas</h2>
    </div>
    <div class="sub-header">
      <h3>Alertas creadas</h3>
      <hr />
      <div class="table-controls">
        <div class="left">
          <label for="records">Mostrar</label>
          <select id="records" [(ngModel)]="recordsToShow" (change)="onRecordsChange()">
            <option *ngFor="let option of [5, 10, 15, 25, 50, 100]" [value]="option">{{ option }}</option>
          </select>          
          <span>registros</span>
        </div>
        <div class="right"> 
          <mat-form-field class="search-input">
            <mat-label class="search-label">Buscar</mat-label>
            <input matInput type="text" [(ngModel)]="searchTerm">
          </mat-form-field>
        </div>
      </div>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Variable</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Color</th>
              <th>Nivel</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alert of filteredAlerts()">
              <td>{{ alert.displayName }}</td>
              <td>{{ alert.variable }}</td>
              <td>{{ alert.initialRange }}</td>
              <td>{{ alert.finalRange }}</td>
              <!-- Aplicamos ngStyle para cambiar el color de fondo y el color del texto -->
              <td [ngStyle]="{ 
                  'background-color': alert.color, 
                  'color': alert.color === '#ffffff' ? 'black' : 'white' 
                }">
                {{ alert.color }}
              </td>
              <td>{{ alert.level }}</td>
              <td>{{ alert.enabled ? 'Habilitada' : 'Deshabilitada' }}</td>
              <td>
                <button mat-icon-button class="btn-edit" (click)="editAlert()" title="Actualizar">
                  <mat-icon>cached</mat-icon>
                </button>
                <button mat-icon-button class="btn-delete" (click)="deleteAlert()" title="Eliminar">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer">
        <div class="left">
          Mostrando registros del {{ (currentPage - 1) * recordsToShow + 1 }}
          al {{ Math.min(currentPage * recordsToShow, alerts.length) }}
          de un total de {{ alerts.length }} registros
        </div>
        <div class="right pagination">
          <!-- Botón Anterior -->
          <button mat-fab extended (click)="previousPage()" [disabled]="currentPage === 1 || alerts.length === 0">
            <mat-icon>arrow_back</mat-icon>
            Anterior
          </button>
          <span>{{ currentPage }}</span>
          <!-- Botón Siguiente -->
          <button mat-fab extended (click)="nextPage()" [disabled]="currentPage === totalPages() || alerts.length === 0">
            <mat-icon>arrow_forward</mat-icon>
            Siguiente
          </button>
        </div>
      </div>      
    </div>
  </div>
</div>
