.main-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin-left:15%; /* Ajusta este valor según el tamaño de tu sidebar */
  width: calc(100% - 120px); /* Asegura que el contenedor ocupe el espacio restante */
  box-sizing: border-box;
}


/* Contenedor 1 - Control de Administradores */
.header {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Contenedor 2 - Administradores Registrados */
.sub-header {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.sub-header h3 {
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.sub-header hr {
  width: 100%;
  border: 1px solid #00bcd4;
  /* Línea celeste */
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Controles de tabla (Mostrar registros y buscar) */
.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table-controls .left {
  display: flex;
  align-items: center;
}

.table-controls label {
  font-size: 14px;
  margin-right: 10px;
}

.table-controls select {
  padding: 6px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.search-input {
  margin-top: 10px;
  background-color: #fff;
  font-size: 14px;
  width: 220px;
  height: 65px;
  box-sizing: border-box;
}
.search-input input{
  height: 20px;
}

.search-label{
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  padding: 12px;
  border: 1px solid #ddd;
  font-weight: bold;
}

/* Target the second <td> element */
table tr:nth-child(even) {
  background-color: #f1f1f1;
}



/* Efecto hover: cambia el color de fondo de la fila a gris cuando el ratón está encima */
table tr:hover {
  background-color: #cfcfcf;
  /* Gris claro */
}

.btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  background-color: #f44336;
}
.btn-delete mat-icon {
  font-size: 20px;      
  margin: 0;              
}
.btn-delete:hover {
  background-color: #b32828;
}



/* Información de registros y paginación */
.footer {
  display: flex;
  justify-content: space-between;
  /* Asegura que el contenido esté separado entre izquierda y derecha */
  align-items: center;
  font-size: 14px;
  color: #555;
  margin-top: 20px;
  /* Separar de la tabla */
}

.footer .left {
  flex: 1;
  text-align: left;
  font-size: 15px;
  color: #666;
}

.footer .right {
  display: flex;
  align-items: center;
  /* Los controles de paginación estarán alineados en fila */
}

.footer .pagination button {
  padding: 6px 12px;
  margin: 0 8px;
  /* Separar los botones de paginación */
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer .pagination button:disabled {
  background-color: #b1b1b1;
  cursor:not-allowed;
}

.footer .pagination span {
  margin: 0 8px;
}

.footer .pagination button:hover {
  background-color: #0097a7;
}


/* Móviles grandes (480px a 767px) */
@media (max-width: 629px) {
  .main-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left:100px;
    width: calc(100% - 120px); 
    box-sizing: border-box;
  }

  .table-controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-controls select,
  .table-controls input {
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
  }

  table th,
  table td {
    padding: 8px;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
  }

  .footer .pagination button {
    padding: 6px 10px;
    font-size: 14px;
  }

  .btn-edit,
  .btn-delete {
    padding: 4px 8px;
  }
}