/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'simati';
  src: url('/assets/fonts/arialnarrow.ttf') format('truetype'),
  /* url('assets/fonts/ariblk.ttf') format('truetype'), */
  url('assets/fonts/Trollhunters.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'simati';
    font-weight: bold; /* Para asegurar que todos los textos usen el peso Bold */
  }

  .app-side{
    margin-right: 30;
  }