<div *ngIf="isLargeScreen">
    <app-premium-side (sideNavToggle)="onSideNavToggle($event)"></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
    <app-bottom-tab></app-bottom-tab>
</div>
<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
  <div class="main-container">
    <div class="header">
      <!-- Botón de regresar -->
      <button mat-icon-button class="back-button" (click)="onBackClick()"> 
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>{{ branchName }}</h1>
      <!-- Botón para crear dispositivo -->
      <button mat-icon-button class="create-button" (click)="onCreateClick()">
        <mat-icon>add</mat-icon>
        <p>Crear Dispositivo</p>
      </button>
    </div>
  </div>
</div>
