<div class="app-container">
    <app-side class="app-side"></app-side> <!-- Barra lateral -->
    <div class="main-content">
      <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas dinámicas -->
    </div>
  </div>
<div class="background">
    <div class="title-grid">
        <div class="grid-btn">
            <button class="regresar" (click)="onBackClick()"><i class="material-icons">arrow_back</i></button>
        </div>
        <div class="grid-title">
            <h2 class="title">Cambiar Contraseña</h2>
        </div>
    </div>
    <div class="change-password-container">
        <form class="form">
            <div class="form-group">
                <label for="currentPassword">Contraseña Actual</label>
                <input id="currentPassword" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="newPassword">Contraseña Nueva</label>
                <input id="newPassword" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirmar Contraseña Nueva</label>
                <input id="confirmNewPassword" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn" (click)="onSubmit()">Cambiar Contraseña</button>
        </form>
    </div>
</div>