/* Centrar el contenedor */
.background{
    width: 100%;
  height: 100%;
}

.change-password-container {
    width: 100%;
    max-width: 80%;
    margin: 50px auto; /* Centrado horizontal y margen superior */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.5%, -100%); 
  }
  
  /* Título */
  .title-grid {
    max-width: 80%;
    transform: translate(10%, -10%);
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    align-items: center; /* Centra verticalmente */
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    align-self: start;
  }
  
.grid-title{
    height: 5px;
    align-items: center;
    transform: translate(0%, -900%);
}

  .grid-btn {
    display: flex;
    justify-content: flex-start;
  }

  /* Estilo del formulario */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alineación central */
  }
  
  /* Margen de los grupos */
  .form-group {
    max-width: 50%;
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Labels ajustados al ancho del botón */
  label {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #555;
    display: block;
    text-align: left;
    width: 100%; /* Alineación al ancho completo */
  }
  
  /* Campos de texto */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
  }
  
  /* Botón de acción */
  .btn {
    max-width: 50%;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, rgba(0, 188, 212, 0.6), rgba(0, 150, 136, 0.6));
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px; /* Espaciado superior */
  }
  
  .btn:hover {
    background: linear-gradient(to right, rgba(1, 143, 161, 0.6), rgba(1, 114, 103, 0.6));
  }

  .regresar {
    background-color: white;
    display: flex;
    align-items: center; /* Alinear ícono y texto verticalmente */
    gap: 8px; /* Espaciado entre el ícono y el texto */
    max-width: 50%; /* Ajustar si es necesario */
    width: auto; /* Ajuste al contenido */
    padding: 10px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-align: left; /* Opcional: Alinea el texto dentro del botón */
    font-size: 1.2em;
}
.regresar:hover{
    background-color: #d6d6d6;
}