<div *ngIf="isLargeScreen">
    <app-premium-side (sideNavToggle)="onSideNavToggle($event)"></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
    <app-bottom-tab></app-bottom-tab>
</div>
<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
    <div class="overview-container">
        <div class="card">
            <div class="card-header">
                <img src="/assets/imagen/alerta.png" alt="Alertas">
                <h3>Alertas</h3>
            </div>
            <p class="sub-title">Número de alertas <strong></strong></p>
            <a href="#" class="btn">Ver todas las alertas</a>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="/assets/imagen/building.png" alt="servicios">
                <h3>Edificios</h3>
            </div>
            <p class="sub-title">Número de edificios <strong></strong></p>
            <a href="/premium/iot/overview/building" class="btn">Ver todos los Edificios</a>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="/assets/imagen/subscription.png" alt="suscripciones">
                <h3>Suscripciones</h3>
            </div>
            <p class="sub-title">Número de suscripciones<strong></strong></p>
            <a href="#" class="btn">Ver todas las suscripciones</a>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="/assets/imagen/vpn-logo_color-icon.png" alt="servicios">
                <h3>Dispositivos IoT</h3>
            </div>
            <p class="sub-title">Número de dispositivos IoT<strong></strong></p>
            <a href="#" class="btn">Ver todos los dispositivos IoT</a>
        </div>
    </div>
</div>