<div *ngIf="isLargeScreen">
    <app-premium-side (sideNavToggle)="onSideNavToggle($event)"></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
    <app-bottom-tab></app-bottom-tab>
</div>
<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
    <div class="main-container">
        <div class="header">
            <h1>Usuarios</h1>
            <button mat-fab extended class="create-button"> <mat-icon>add</mat-icon>
                <p>   Crear usuario   </p>
              </button>
              </div>
        <div class="user-card">
            <div class="user-info">
                <img src="assets/imagen/users.png" alt="icono" width="50" height="50">
                <span class="username">Pepito</span>
            </div>
            <div class="actions">
                <button class="action" >Delete user</button>
                <button class="action" >Edit user</button>

            </div>
        </div>
    </div>
</div>