<!-- <form class="container">
    <h1 class="login-title">Login</h1>
    <section class="input-box">
        <input type="text" name="username" placeholder="Username"> <i class='bx bxs-user'></i>
    </section>
    <section class="input-box">
        <input type="password" name="password" placeholder="Password"> <i class='bx bxs-lock-alt'></i>
    </section>
    <section class="remember-forgot-box">

        <div class="remember-me">
            <input type="checkbox" name="remember-me" id="remember-me"> <label for="remember-me">
                <h5>Remember me</h5>
            </label>
        </div>
        <a class="forgot-password" href="#">
        </a>
        <h5>Forgot password?</h5>
    </section>
    <button class="login-button" type="submit"> Login
    </button>
    <h5 class="dont-have-an-account">
        Don't have an account?
        <a href="#"><b>Register</b></a>
    </h5>
</form> -->
<div class="app-container">
  <app-side-login class="app-side"></app-side-login> <!-- Barra lateral -->
  
    <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas dinámicas -->
</div>
<div class="background">
<div class="login-container">
    <div class="login-box">
      <h1>Login</h1>
      <form>
        <div class="input-group">
          <label for="username">
            <i class="fa fa-user"></i>
          </label>
          <input type="text" id="username" placeholder="Username" />
        </div>
        <div class="input-group">
          <label for="password">
            <i class="fa fa-lock"></i>
          </label>
          <input type="password" id="password" placeholder="Password" />
        </div>
        <div class="options">
          <label>
            <input type="checkbox" /> Remember me
          </label>
          <a href="#">Forgot password?</a>
        </div>
        <a href="/prueba" type="submit" class="login-button">Login</a>
        <p class="register-link">
          Don’t have an account? <a href="#">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>

  