
<div class="app-container">
  <app-side-login class="app-side"></app-side-login> <!-- Barra lateral -->
  
    <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas dinámicas -->
</div>
<div class="background">
<div class="login-container">
    <div class="login-box">
      <h1>Login</h1>
      <form>
        <div class="input-group">
          <label for="username">
            <i class="fa fa-user"></i>
          </label>
          <input type="text" id="username" placeholder="Username" />
        </div>
        <div class="input-group">
          <label for="password">
            <i class="fa fa-lock"></i>
          </label>
          <input type="password" id="password" placeholder="Password" />
        </div>
        <div class="options">
          <label>
            <input type="checkbox" /> Remember me
          </label>
          <a href="#">Forgot password?</a>
        </div>
        <a href="/prueba" type="submit" class="login-button">Login</a>
        <p class="register-link">
          Don’t have an account? <a href="#">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>

  