<div *ngIf="isLargeScreen">
  <app-side (sideNavToggle)="onSideNavToggle($event)"></app-side>
</div>
<div *ngIf="!isLargeScreen">
  <app-bottom-tab></app-bottom-tab>
</div>

<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
    <div class="main-container">
      <div class="header">
        <h2>Control de aletas</h2>
      </div>
      <div class="sub-header">
        <h3>Alertas creadas</h3>
        <hr />
        <div class="table-controls">
          <div class="left">
            <label for="records">Mostrar</label>
            <select id="records">
              <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">{{ option }}</option>
            </select>
            <span>registros</span>
          </div>
          <div class="right">
            <mat-form-field class="search-input">
              <mat-label class="search-label">Buscar</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Variable</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Color</th>
                <th>Nivel</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>alerta</td>
                <td>cantidad de lluvia</td>
                <td>2</td>
                <td>3</td>
                <td><p>#0057e3</p></td>
                <td>1</td>
                <td>1</td>
                <td>
                  <button mat-icon-button  class="btn-edit"  (click)="editAlert()" title="Actualizar">
                      <mat-icon>cached</mat-icon>
                    </button>
                    <button mat-icon-button class="btn-delete" (click)="deleteAlert()" title="Eliminar">
                      <mat-icon>delete</mat-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="left">
            Mostrando registros de al de un total de  registros
          </div>
          <div class="right pagination">
            <button mat-fab extended>
              <mat-icon>arrow_back</mat-icon>
              Anterior
            </button>
            <span></span>
            <button mat-fab extended>
              <mat-icon>arrow_forward</mat-icon>
              Siguiente
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  