/* Centrar el contenedor */
.center {
  display: flex;
  justify-content: center;
  min-height: 97vh;
  transition: margin-left 0.3s ease;
}

.shifted {
  margin-left: 14%;
  transition: margin-left 0.3s ease;
}

.main-container {
  width: 80%;
  max-width: 85%;
  padding: 20px;
  width: calc(100% - 120px);
  box-sizing: border-box;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Botón regresar */
.grid-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: all 0.3s ease;
}

/* Contenedor de cambio de contraseña */
.change-password-container {
  width: 100%;
  margin-top: 20px;
  /* Espacio respecto al título */
  padding: 50px 0px 50px 0px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Formulario */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  max-width: 50%;
  /* Ancho máximo */
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.btn {
  max-width: 50%;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #003366, #0156aa);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #003366, #5ab1f7);
  transition: all 0.3s ease;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}



.input-container .toggle-visibility {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.input-container .eye-icon {
  width: 20px;
  height: 20px;
  fill: #666;
  transition: transform 0.2s;
}

.input-container .toggle-visibility:hover .eye-icon {
  transform: scale(1.2);
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

@media (max-width: 1024px) {

  .center {
    display: flex;
    justify-content: center;
    padding: 0 0 35px 0;
  }

  .main-container {
    width: 95%;
    max-width: 95%;
    box-sizing: border-box;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .title {
    flex: 1;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }

  form {
    flex-direction: column;
    gap: 10px;
  }

  .form-control {
    width: 95%;
    /* Ocupar el 95% del espacio disponible */
    max-width: 95%;
    /* Limitar también el ancho máximo al 95% */
  }

  .form-group {
    max-width: 95%;
    /* Ajustar el contenedor de los inputs */
  }

  .btn {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }

}