<div *ngIf="isLargeScreen">
  <app-premium-side
    (sideNavToggle)="onSideNavToggle($event)"
  ></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
  <app-bottom-tab></app-bottom-tab>
</div>
<div class="center" [ngClass]="{ shifted: !isSidebarCollapsed }">
  <div class="header">
    <button mat-icon-button class="back-button" (click)="onBackClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Actuador</h1>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    style="width: 500px; margin: auto"
  >
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Cantidad de dispositivos a registrar</mat-label>
      <input
        matInput
        type="number"
        formControlName="cantidad"
        (input)="onCantidadChange()"
      />
    </mat-form-field>

    <div formArrayName="dispositivos" *ngIf="dispositivos.length">
      <div
        *ngFor="let dispositivo of dispositivos.controls; let i = index"
        [formGroupName]="i"
        style="margin-top: 1rem"
      >
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Entidad {{ i + 1 }}</mat-label>
          <mat-select formControlName="entidad">
            <mat-option *ngFor="let entidad of entidades" [value]="entidad">{{
              entidad
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Variable {{ i + 1 }}</mat-label>
          <mat-select formControlName="variable">
            <mat-option *ngFor="let variable of variables" [value]="variable">{{
              variable
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Operador {{ i + 1 }}</mat-label>
          <mat-select formControlName="operador">
            <mat-option *ngFor="let op of operadores" [value]="op">{{
              op
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      style="margin-top: 1rem"
    >
      Enviar
    </button>
  </form>
</div>
