<h2 mat-dialog-title>Editar Sensor</h2>

<mat-dialog-content>
  <form [formGroup]="sensorForm" (ngSubmit)="onSave()"> <!-- Agregar el formGroup aquí -->
    <!-- Campo para el nombre del sensor -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <!-- Campo para la ubicación del sensor -->
    <mat-form-field appearance="fill">
      <mat-label>Ubicación</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <!-- Selector de tipo de sensor -->
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Sensor</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let sensor of sensorTypes$ | async" [value]="sensor._id">
          {{ sensor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button
        mat-raised-button
        color="primary"
        class="register-button"
        type="submit"
        [disabled]="sensorForm.invalid"
      >
        Guardar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
