<div *ngIf="isLargeScreen">
  <app-premium-side (sideNavToggle)="onSideNavToggle($event)"></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
  <app-bottom-tab></app-bottom-tab>
</div>

<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
  <div class="main-container">
    <div class="header">
      <!-- Botón de regresar -->
      <button mat-icon-button class="back-button" (click)="onBackClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>{{ branchName }}</h1>
      <!-- Botón para crear dispositivo -->
      <button mat-icon-button class="create-button" (click)="onCreateClick()">
        <mat-icon>add</mat-icon>
        <p>Crear Dispositivo</p>
      </button>
    </div>


    <!-- Contenedor para el dispositivo y gauges -->
    <div class="device-info-container" *ngIf="devicesInfo.length > 0">
      <div class="device-info-item" *ngFor="let device of devicesInfo">
        <h3>{{ device.deviceName }}</h3>
        <p>Sensores: {{ device.variableCount }}</p>
        <p>Actuadores:{{ device.actuadoresCount}}</p>
        <button
  class="levelButton"
  [ngStyle]="{
    'background-color': device.color,
    'color': (device.color?.toLowerCase() === '#fff' || device.color?.toLowerCase() === '#ffffff') ? 'black' : 'white',
    'border': (device.color?.toLowerCase() === '#fff' || device.color?.toLowerCase() === '#ffffff') ? '1px solid #ccc' : 'none'
  }"
>
  Nivel {{ device.level }}
</button>

        <a (click)="onViewDevice(device.deviceName,device.deviceId)" class="buttonView">
          Ver
        </a>
      </div>
    </div>
        <!-- Contenedor para el mapa -->
   <div class="device-map">
    <div id="map" style="height: 500px;"></div>
   </div>  

  </div>
</div>
