<h2 mat-dialog-title>Ver Sensor</h2>

<mat-dialog-content>
  <!-- Campo para el nombre del sensor -->
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [value]="initialSensorName" disabled />
  </mat-form-field>

  <!-- Campo para la ubicación del sensor -->
  <mat-form-field appearance="fill">
    <mat-label>Ubicación</mat-label>
    <input matInput [value]="initialSensorLocation" disabled />
  </mat-form-field>

  <!-- Campo para el tipo de sensor -->
  <mat-form-field appearance="fill">
    <mat-label>Tipo de Sensor</mat-label>
    <mat-select [value]="selectedSensorType" disabled>
      <mat-option *ngFor="let sensor of sensorTypes$ | async" [value]="sensor._id">
        {{ sensor.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cerrar</button>
</mat-dialog-actions>
