<div>
    <app-nav></app-nav>
</div>
<div class="center">
    <div class="main-container">
        <div class="sub-header">
            <h1>Acerca de</h1>
            <hr>
            <div class="grid-container">
                <div class="grid grid1">
                    <img src="" alt="Logo AURA">
                </div>
                <div class="grid grid2">
                    <h4>Nombre del proyecto</h4>
                    <p>Sistema de Acción Unificada para Rastreo y Análisis</p>
                    <p>Fecha: 2 de diciembre de 2024</p>
                    <h4>Visión</h4>
                    <p>El proyecto AURA (Sistema de Acción Unificada para Rastreo y Análisis) ha sido desarrollado con el objetivo de integrar tecnologías inteligentes para mejorar la gestión de riesgos, la sostenibilidad y la transformación digital de espacios urbanos y edificios inteligentes. Desarrollado por Aguila Azul Industries y en cooperación con GM STUDIOS y DC STUDIOS, AURA busca proporcionar soluciones innovadoras para la monitorización y alerta en situaciones de riesgo, incorporando soluciones a la vanguardia en monitoreo, alerta temprana y automatización de infraestructuras. La Universidad Don Bosco (UDB) ha liderado la ejecución del proyecto, el cual incluye los siguientes componentes: Laboratorio de sensores de bajo costo, Red de comunicaciones de baja potencia LPWAN para sensores, Sistema de procesamiento de datos ambientales, Sistema público de alertas y Laboratorio de experimentación, educación y concientización.</p>
                </div>
                <div class="grid grid3">
                    <h4>Equipo:</h4>
                    <p>Angel Guillermo Sanchez Mangandi</p>
                    <p>Alex Hernandez</p>
                    <p>Daniel Castellanos</p>
                    <p>Carlos Guillermo Bran</p>
                    <p>Denis Alfredo Altuve Santamaría</p>
                    <p> Luis Kelman Belloso Huezo </p>
                </div>
                <div class="grid grid4">
                    <h3>Colaboradores</h3>
                    <img src="https://github.com/AlexHernandez2698632494/pictures/blob/main/Aguila_Azul_Industries.png?raw=true" alt="aai">
                    <img src="https://admacad.udb.edu.sv/Recursos/imagenes/UDB_horizontal.png" alt="udb">
                    <img src="https://github.com/AlexHernandez2698632494/pictures/blob/main/dc%20studio.png?raw=true" alt="dc">
                    <img src="https://yt3.ggpht.com/oq3ee8HWXfqYwA7CDW6Q4b34-290AHZ5Jv-5ebmiOLBgrJlORJfWmFJtOYdLboLJ9SXAyHQ2baBJ=s512-c-fcrop64=1,00000000ffffffff-rw-nd-v1" alt="gm">
                </div>
            </div>
        </div>
    </div>
</div>
