<!-- Componente lateral (side) -->
<div *ngIf="isLargeScreen">
  <app-premium-side
    (sideNavToggle)="onSideNavToggle($event)"
  ></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
  <app-bottom-tab></app-bottom-tab>
</div>

<!-- Contenedor principal -->
<div class="center" [ngClass]="{ shifted: !isSidebarCollapsed }">
  <div class="main-container">
    <!-- Header -->
    <div class="header">
      <button mat-icon-button class="back-button" (click)="onBackClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>
        {{ branchName }} -
        {{
          entitiesWithAlerts[0]?.deviceName ||
            entitiesWithAlerts[0]?.raw?.deviceName
        }}
      </h1>
    </div>

    <!-- Contenedor de actuador e información -->
    <div class="device-columns">
      <h1>Última Actualización: {{ entitiesWithAlerts[0]?.timeInstant }}</h1>
      <br />
      <h2>Control del Actuador</h2>

      <!-- Actuador -->
      <div class="device-actuador" *ngIf="commands.length > 0">
        <!-- 🔘 Toggle switches -->
        <div
          class="deviceActuador"
          *ngFor="let toggle of actuadores.toggle; let i = index"
        >
          <div class="conditionsToggle">
            <h3 [ngStyle]="{ 'background-color': pastelColor }">
              {{ toggle.label }}
            </h3>

            <button
              class="toggle-btn"
              [ngClass]="{
                on: estadoToggles[i] && commands[i]?.status === 'OK',
                off: !estadoToggles[i] && commands[i]?.status === 'OK',
                pending: commands[i]?.status === 'PENDING',
                failed: commands[i]?.status === 'FAILED',
                null: commands[i]?.status === ''
              }"
              (click)="toggleActuador(i, entitiesWithAlerts[0]?.id)"
              [disabled]="commands[i]?.status === 'PENDING'"
              *ngIf="iconoEstadoReglaToggle[i] === false"
            >
              <!-- Ícono / Loader -->
              <mat-progress-spinner
                *ngIf="commands[i]?.status === 'PENDING'"
                mode="indeterminate"
                diameter="18"
              ></mat-progress-spinner>

              <mat-icon *ngIf="commands[i]?.status === 'FAILED'"
                >error</mat-icon
              >
              <mat-icon *ngIf="commands[i]?.status === ''">info</mat-icon>
              <mat-icon
                *ngIf="
                  commands[i]?.status !== 'PENDING' &&
                  commands[i]?.status !== 'FAILED' &&
                  commands[i]?.status !== ''
                "
              >
                {{ estadoToggles[i] ? "power" : "power_off" }}
              </mat-icon>

              <!-- Texto -->
              {{ getBotonTexto(i) }}
            </button>

            <!-- Mensajes de estado -->
            <p *ngIf="commands[i]?.status === 'PENDING'" class="status-pending">
              ⏳ Comando pendiente de ejecución
            </p>
            <p *ngIf="commands[i]?.status === 'FAILED'" class="status-failed">
              ❌ No se recibió respuesta del dispositivo, intente nuevamente.
            </p>

            <p *ngIf="iconoEstadoReglaToggle[i] === true">
              El dispositivo "{{ commands[i]?.name || "sin nombre" }}" se
              encuentra actualmente en estado
              {{ commands[i]?.states === "ON" ? "Encendido" : "Apagado" }}.
            </p>

            <p *ngIf="reglasActivasToggle[i]" class="regla-activa">
              ✅ Regla activa para este actuador
            </p>

            <div class="condition-buttons">
              <button
                mat-stroked-button
                class="detailCondition"
                (click)="
                  onOverviewCondition(
                    commands[i]?.name,
                    entitiesWithAlerts[0]?.id
                  )
                "
              >
                <mat-icon class="icon">add</mat-icon>
                <span>detalles condición</span>
              </button>
              <button
                mat-icon-button
                class="regla-icono"
                *ngIf="iconoEstadoReglaToggle[i] !== undefined"
                [ngClass]="
                  iconoEstadoReglaToggle[i] ? 'status-green' : 'status-red'
                "
                (click)="toggleModoManualAutomatico(i)"
              >
                <mat-icon class="icon">rule</mat-icon>
                <span>{{
                  iconoEstadoReglaToggle[i] ? "Modo Automático" : "Modo Manual"
                }}</span>
              </button>
            </div>
          </div>
        </div>

        <!-- 🎚️ Analogo sliders -->
        <div class="conditionsAnalogo">
          <div
            class="analogo-control"
            *ngFor="let analogo of actuadores.analogo; let i = index"
          >
            <h3 [ngStyle]="{ 'background-color': pastelColor }">
              {{ analogo.label }}
            </h3>
            <label
              for="{{ analogo }}"
              *ngIf="
                commands[actuadores.toggle.length + i]?.status !== 'PENDING' &&
                iconoEstadoReglaAnalogo[i] === false
              "
              >Valor : <strong>{{ estadoAnalogos[i] }}</strong></label
            >
            <label
              for="{{ analogo }}"
              *ngIf="
                commands[actuadores.toggle.length + i]?.status === 'PENDING'
              "
              >Valor Enviado:
              <strong>{{ estadoAnalogos[i] }}, Esperando</strong></label
            >
            <mat-progress-bar
              class="analog-progress-bar"
              *ngIf="
                commands[actuadores.toggle.length + i]?.status === 'PENDING'
              "
              mode="indeterminate"
            ></mat-progress-bar>
            <!-- Mostrar slider si NO está en PENDING -->
            <input
              *ngIf="
                commands[actuadores.toggle.length + i]?.status !== 'PENDING' &&
                iconoEstadoReglaAnalogo[i] === false
              "
              type="range"
              id="{{ analogo }}"
              min="0"
              max="100"
              [(ngModel)]="estadoAnalogos[i]"
              (change)="
                enviarValorAnalogico(
                  estadoAnalogos[i],
                  i,
                  entitiesWithAlerts[0]?.id
                )
              "
            />
            <p
              *ngIf="
                commands[actuadores.toggle.length + i]?.status === 'PENDING'
              "
              class="status-pending"
            >
              ⏳ Comando pendiente de ejecución
            </p>
            <p
              *ngIf="
                commands[actuadores.toggle.length + i]?.status === 'FAILED'
              "
              class="status-failed"
            >
              ❌ No se recibió respuesta del dispositivo, intente nuevamente.
            </p>
            <p *ngIf="reglasActivasAnalogo[i]" class="regla-activa">
              ✅ Regla activa para este actuador
            </p>
            <div class="condition-buttons">
              <button
                mat-stroked-button
                class="detailCondition"
                (click)="
                  onOverviewCondition(
                    commands[actuadores.toggle.length + i]?.name,
                    entitiesWithAlerts[0]?.id
                  )
                "
              >
                <mat-icon class="icon">add</mat-icon>
                <span>detalles condición</span>
              </button>
              <button
                mat-icon-button
                class="regla-icono"
                *ngIf="iconoEstadoReglaAnalogo[i] !== undefined"
                [ngClass]="
                  iconoEstadoReglaAnalogo[i] ? 'status-green' : 'status-red'
                "
              >
                <mat-icon class="icon">rule</mat-icon>
                <span>{{
                  iconoEstadoReglaAnalogo[i] ? "Modo Automático" : "Modo Manual"
                }}</span>
              </button>
            </div>
          </div>
        </div>

        <!-- 🔄 Dial selectors -->
        <div class="conditionsDial">
          <div
            class="dial-selector"
            *ngFor="let dial of actuadores.dial; let i = index"
          >
            <h3 [ngStyle]="{ 'background-color': pastelColor }">
              {{ dial.label }}
            </h3>
            <ng-container
              *ngIf="
                commands[
                  actuadores.toggle.length + actuadores.analogo.length + i
                ]?.status === 'PENDING'
              "
            >
              <p class="status-pending">
                Valor enviado:
                <strong>{{ selectedDiales[i] }}</strong>
              </p>
              <div class="loading-spinner">
                <div class="loader"></div>
                <p>Esperando</p>
              </div>
              <p class="status-pending">⏳ Comando pendiente de ejecución</p>
            </ng-container>
            <div
              class="dial"
              *ngIf="iconoEstadoReglaDial[i] === false"
              [ngClass]="{
                loading:
                  commands[
                    actuadores.toggle.length + actuadores.analogo.length + i
                  ]?.status === 'PENDING'
              }"
            >
              <div
                class="dial-option"
                *ngFor="let level of dialLevels; let j = index"
                [class.active]="level === selectedDiales[i]"
                [style.transform]="getDialPosition(j, dialLevels.length)"
                (click)="selectDial(level, i)"
              >
                {{ level }}
              </div>
            </div>

            <!-- Mensajes -->
            <p
              *ngIf="
                commands[
                  actuadores.toggle.length + actuadores.analogo.length + i
                ]?.status === 'FAILED'
              "
              class="status-failed"
            >
              ❌ No se recibió respuesta del dispositivo, intente nuevamente.
            </p>
            <p *ngIf="reglasActivasDial[i]" class="regla-activa">
              ✅ Regla activa para este actuador
            </p>

            <!-- Botones -->
            <div class="condition-buttons">
              <button
                mat-stroked-button
                class="detailCondition"
                (click)="
                  onOverviewCondition(
                    commands[
                      actuadores.toggle.length + actuadores.analogo.length + i
                    ]?.name,
                    entitiesWithAlerts[0]?.id
                  )
                "
              >
                <mat-icon class="icon">add</mat-icon>
                <span>detalles condición</span>
              </button>
              <button
                mat-icon-button
                class="regla-icono"
                *ngIf="iconoEstadoReglaDial[i] !== undefined"
                [ngClass]="
                  iconoEstadoReglaDial[i] ? 'status-green' : 'status-red'
                "
              >
                <mat-icon class="icon">rule</mat-icon>
                <span>{{
                  iconoEstadoReglaDial[i] ? "Modo Automático" : "Modo Manual"
                }}</span>
              </button>
            </div>
          </div>
        </div>

        <!-- 📝 Actuador de texto -->
        <div class="conditionsToggleText">
          <div
            class="actuador-texto"
            *ngFor="let texto of actuadores.toggleText; let i = index"
          >
            <h3 [ngStyle]="{ 'background-color': pastelColor }">
              {{ texto.label }}
            </h3>

            <div *ngIf="iconoEstadoReglaTexto[i] === false">
              <mat-form-field
                appearance="outline"
                class="full-width responsive-form"
              >
                <mat-label>Valor del Actudador ({{ texto.label }})</mat-label>
                <input
                  matInput
                  id="actuadorInput-{{ i }}"
                  [(ngModel)]="valorTextoActuadores[i]"
                />
              </mat-form-field>

              <button
                mat-stroked-button
                color="primary"
                class="update-btn"
                (click)="actualizarActuadorTexto(i)"
              >
                Actualizar
              </button>

              <p>
                Valor Actual: <strong>{{ valoresActuales[i] }}</strong>
              </p>
            </div>

            <p
              *ngIf="
                commands[
                  actuadores.toggle.length +
                    actuadores.analogo.length +
                    actuadores.dial.length +
                    i
                ]?.status === 'PENDING'
              "
              class="status-pending"
            >
              ⏳ Comando pendiente de ejecución
            </p>
            <p *ngIf="reglasActivasTexto[i]" class="regla-activa">
              ✅ Regla activa para este actuador
            </p>
            <div class="condition-buttons">
              <button
                mat-stroked-button
                class="detailCondition"
                (click)="
                  onOverviewCondition(
                    commands[
                      actuadores.toggle.length +
                        actuadores.analogo.length +
                        actuadores.dial.length +
                        i
                    ]?.name,
                    entitiesWithAlerts[0]?.id
                  )
                "
              >
                <mat-icon class="icon">add</mat-icon>
                <span>detalles condición</span>
              </button>
              <button
                mat-icon-button
                class="regla-icono"
                *ngIf="iconoEstadoReglaTexto[i] !== undefined"
                [ngClass]="
                  iconoEstadoReglaTexto[i] ? 'status-green' : 'status-red'
                "
              >
                <mat-icon class="icon">rule</mat-icon>
                <span>{{
                  iconoEstadoReglaTexto[i] ? "Modo Automático" : "Modo Manual"
                }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Información del dispositivo -->
      <div class="device-info-container" *ngIf="variables.length > 0">
        <div class="gauge-container">
          <div class="column" *ngFor="let entity of entitiesWithAlerts">
            <div *ngFor="let variable of entity.variables">
              <div *ngIf="variable.value">
                <ngx-gauge
                  [value]="getNumericValue(variable.value)"
                  [min]="getGaugeRange(variable).min"
                  [max]="getGaugeRange(variable).max"
                  [type]="'arch'"
                  [thick]="10"
                  [size]="120"
                  [foregroundColor]="variable.colorGauge"
                  [backgroundColor]="'black'"
                  [thresholds]="getGaugeThresholds(variable)"
                >
                </ngx-gauge>
                <div class="variable-info">
                  <span class="variable-name">{{ variable.name }}:</span>
                  <span class="variable-value">{{ variable.value }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Histórico -->
      <div class="device-historical" *ngIf="variables.length > 0">
        <div class="chart-columns">
          <div
            *ngFor="let variable of variables; let i = index"
            class="chart-wrapper"
          >
            <div #chartContainer class="chart-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
