<div>
    <app-side></app-side>
    <router-outlet></router-outlet>
</div>
<div class="center">
    <div class="main-container">
        <div class="header">
            <h2>Restauración de Alertas</h2>
        </div>
        <div class="sub-header">
            <h3>Alertas eliminadas</h3>
            <hr />
            <!-- Controles de tabla (Número de registros y buscar) -->
            <div class="table-controls">
                <div class="left">
                    <label for="records">Mostrar</label>
                    <select id="records">
                        <option *ngFor="let option of [5, 10, 15, 20]" [value]="option">{{ option }}</option>
                    </select>
                    <span>registros</span>
                </div>
                <div class="right">
                    <mat-form-field class="search-input">
                        <mat-label class="search-label">buscar</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
            </div>

            <!-- Tabla -->
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Verifica si la propiedad 'nombre' está presente, si no, usa 'name' -->
                        <td></td> <!-- Usa 'nombre' o 'name' dependiendo de cuál exista -->
                        <td>
                            <button mat-icon-button class="btn-restore" title="Restaurar">
                                <mat-icon>restore_from_trash</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>


            </table>

            <!-- Información de registros y paginación -->
            <div class="footer">
                <div class="left">
                    Mostrando registros del 1
                    al 1
                    de un total de 0 registros
                </div>
                <div class="right pagination">
                    <button mat-fab extended>
                        <mat-icon>arrow_back</mat-icon>
                        Anterior
                    </button>
                    <span>{{ currentPage }}</span>
                    <button mat-fab extended>
                        <mat-icon>arrow_forward</mat-icon>
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>