<div *ngIf="isLargeScreen">
    <app-premium-side (sideNavToggle)="onSideNavToggle($event)"></app-premium-side>
</div>
<div *ngIf="!isLargeScreen">
    <app-bottom-tab></app-bottom-tab>
</div>
<div class="center" [ngClass]="{ 'shifted': !isSidebarCollapsed }">
    <div class="main-container">
        <div *ngFor="let building of buildings" class="header">
            <button mat-icon-button class="back-button" (click)="onBackClick()">
                <mat-icon>arrow_back</mat-icon>
              </button><h1>{{ building.nombre }}</h1>
            <button mat-fab extended class="create-button">
                <mat-icon>add</mat-icon>
                <p> Crear Salon </p>
            </button>
        </div>

        <!-- Mostrar las plantas de cada edificio en tarjetas separadas -->
        <div *ngFor="let building of buildings">
            <div *ngFor="let plantImageId of building.imagenesPlantas; let i = index" class="plant-card">
                <div class="plant-info">
                    <span>Planta {{ i + 1 }}</span>
                    <img [src]="buildingImages[plantImageId]" alt="Imagen de la planta" class="plantimagen">
                </div>

                <div class="actions">
                    <button mat-button class="action">Ver planta</button>
                    <button mat-button class="action">Eliminar planta</button>
                </div>
            </div>
        </div>
    </div>
</div>
