<div class="app-container">
 <!-- <app-side class="app-side"></app-side>--> <!-- Barra lateral -->
<app-nav></app-nav>
  <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas dinámicas -->
</div>

<div class="background">
  <div class="login-container">
    <div class="login-box">
      <h1>Login</h1>
      <form (submit)="login(); $event.preventDefault()"> <!-- Conectar con método login -->
        <div class="input-group">
          <label for="username">
            <i class="fa fa-user"></i>
          </label>
          <input
            type="text"
            id="username"
            placeholder="Username or Email"
            [(ngModel)]="usernameOrEmail"
            name="usernameOrEmail"
          />
        </div>
        <div class="input-group">
          <label for="password">
            <i class="fa fa-lock"></i>
          </label>
          <input
            type="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
          />
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit" class="login-button">Login</button>
      </form>
      <p class="forgot-link">
        <a href="/recuperarView">Olvidé mi contraseña</a>
      </p>
    </div>
  </div>
</div>
