/* Fondo de la aplicación */
.background {
  background-image: url('../../../assets/imagen/background.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Contenedor principal */
.app-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilo del contenedor del formulario */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-box {
  background: rgba(255, 255, 255, 0.2); 
  border: 2px solid #00c1ff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

/* Título del formulario */
.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
}

/* Campos de entrada */
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  margin-right: 10px;
  color: #ffffff;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #000000;
}

/* Botón de login */
.login-button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #00c1ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.login-button:hover {
  background-color: #008fc7;
}

/* Enlace "Olvidé mi contraseña" */
.forgot-link {
  text-align: center;
  margin-top: 15px;
}

.forgot-password {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.forgot-password:hover {
  color: #fff;
  text-decoration: underline;
  transform: scale(1.05); /* Efecto de aumento al pasar el cursor */
}

/* Opciones adicionales */
.options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.options label, .options a {
  font-size: 12px;
  color: #ffffff;
}

/* Responsividad */
@media (max-width: 768px) {
  .login-box {
    width: 90%;
  }
}
