<!-- Sidebar -->
<div [class.collapsed]="isCollapsed" class="sidebar">
  <div class="sidebar-header">
    <div class="header-content">
      <div class="images" *ngIf="!isCollapsed">
        <img
          src="https://github.com/AlexHernandez2698632494/pictures/blob/main/SIMATI/Logo%20IIIE-02%20-%20copia.png?raw=true"
          alt="Image 1" />
        <img src="https://github.com/AlexHernandez2698632494/pictures/blob/main/SIMATI/SIMATI%20UDB%202.0.png?raw=true"
          alt="Image 2" />
      </div>
      <input id="checkbox" type="checkbox" [checked]="!isCollapsed" (change)="toggleSidebar()">
      <label class="toggle" for="checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
      </label>
    </div>
  </div>
  <div class="userInfo" *ngIf="username">
    <div class="separator" *ngIf="username">
      <hr />
    </div>
    <i class="material-icons">person</i>
    <p *ngIf="!isCollapsed" class="username">{{ username }}</p>
    <div class="separator" *ngIf="username">
      <hr />
    </div>
  </div>

  <ul class="menu">
    <!-- Menu Items -->
    <li *ngFor="let item of menuItemsTop" class="menu-item" [ngClass]="{'active': isActive(item.route)}"
      (click)="navigateTo(item.route)">
      <div class="menu-icon-container">
        <i class="material-icons">{{ item.icon }}</i>
        <p *ngIf="isCollapsed" class="tooltip">{{ item.label }}</p>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </div>
    </li>

    <div class="separator">
      <hr />
    </div>

    <!-- Menu Items Bottom -->
    <li *ngFor="let item of menuItemsBottom" class="menu-item" (click)="logout()"
      [ngClass]="{'active': isActive(item.route)}">
      <div class="menu-icon-container">
        <i class="material-icons">{{ item.icon }}</i>
        <p *ngIf="isCollapsed" class="tooltip">{{ item.label }}</p>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </div>
    </li>
  </ul>
</div>