
<div class="app-container">
    <app-side-login class="app-side"></app-side-login> <!-- Barra lateral -->
    
      <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas dinámicas -->
  </div>
  <div class="background">
  <div class="login-container">
      <div class="login-box">
        <h1>Recuperación de contraseña
        </h1>
        <form>
          <div class="input-group">
            <label for="username">
              <i class="fa fa-user"></i>
            </label>
            <input type="text" id="username" placeholder="Username" />
          </div>
          <a href="/" type="submit" class="login-button">Ingresar</a>
        </form>
      </div>
    </div>
  </div>
  
    