<div class="app-container">
  <app-side class="app-side"></app-side> <!-- Barra lateral -->
  <div class="main-content">
    <router-outlet></router-outlet> <!-- Aquí se renderizan las vistas dinámicas -->
  </div>
</div>
<div class="background">
  <div class="title-grid">
    <div class="grid-btn">
      <button class="regresar" (click)="onBackClick()">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
    <div class="grid-title">
      <h2 class="title">Cambiar Contraseña</h2>
    </div>
  </div>
  <div class="change-password-container">
    <form class="form" (ngSubmit)="onSubmit()">
      <!-- Contraseña actual -->
      <div class="form-group">
        <label for="currentPassword">Contraseña Actual</label>
        <div class="input-container">
          <input id="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'" 
            class="form-control" [(ngModel)]="currentPassword" name="currentPassword" required />
          <button
            type="button"
            class="toggle-visibility"
            (click)="togglePasswordVisibility('current')"
          >
            <i class="material-icons">{{ showCurrentPassword ? 'visibility_off' : 'visibility' }}</i>
          </button>
        </div>
      </div>

      <!-- Contraseña nueva -->
      <div class="form-group">
        <label for="newPassword">Contraseña Nueva</label>
        <div class="input-container">
          <input id="newPassword" [type]="showNewPassword ? 'text' : 'password'" 
            class="form-control" [(ngModel)]="newPassword" name="newPassword" required />
          <button
            type="button"
            class="toggle-visibility"
            (click)="togglePasswordVisibility('new')"
          >
            <i class="material-icons">{{ showNewPassword ? 'visibility_off' : 'visibility' }}</i>
          </button>
        </div>
      </div>

      <!-- Confirmar contraseña nueva -->
      <div class="form-group">
        <label for="confirmNewPassword">Confirmar Contraseña Nueva</label>
        <div class="input-container">
          <input id="confirmNewPassword" [type]="showConfirmNewPassword ? 'text' : 'password'" 
            class="form-control" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required />
          <button
            type="button"
            class="toggle-visibility"
            (click)="togglePasswordVisibility('confirmNew')"
          >
            <i class="material-icons">{{ showConfirmNewPassword ? 'visibility_off' : 'visibility' }}</i>
          </button>
        </div>
      </div>

      <!-- Botón para enviar el formulario -->
      <button type="submit" class="btn">Cambiar Contraseña</button>
    </form>
  </div>
</div>
