<div [class.collapsed]="isCollapsed" class="sidebar">
    <input type="checkbox" id="checkbox" (change)="toggleSidebar()" [checked]="!isCollapsed">
    <label for="checkbox" class="toggle">
      <div class="bars" id="bar1"></div>
      <div class="bars" id="bar2"></div>
      <div class="bars" id="bar3"></div>
    </label>
  
    <ul class="menu">
      <!-- Sección superior -->
      <li *ngFor="let item of menuItemsTop" class="menu-item" [class.open]="item.isSubmenuOpen">
        <div *ngIf="!item.submenu?.length">
          <a [routerLink]="item.route">
            <i class="material-icons">{{ item.icon }}</i>
            <span *ngIf="!isCollapsed" class="menu-text">{{ item.label }}</span>
          </a>
        </div>
    
        <!-- Para los elementos con submenú -->
        <div *ngIf="item.submenu?.length" (click)="toggleSubmenu(item)">
          <i class="material-icons">{{ item.icon }}</i>
          <span *ngIf="!isCollapsed" class="menu-text">{{ item.label }}</span>
          <i *ngIf="!isCollapsed" class="material-icons">
            {{ item.isSubmenuOpen ? 'expand_less' : 'expand_more' }}
          </i>
        </div>

        <!-- Submenú -->
        <ul *ngIf="item.isSubmenuOpen && !isCollapsed" class="submenu">
          <li *ngFor="let subItem of item.submenu" class="submenu-item">
            <a [routerLink]="subItem.route">{{ subItem.label }}</a>
          </li>
        </ul>
      </li>

      <div class="separator">
        <hr />
      </div>
    
      <!-- Sección inferior (sin submenú) -->
      <li *ngFor="let item of menuItemsBottom" class="menu-item">
        <a [routerLink]="item.route">
          <i class="material-icons">{{ item.icon }}</i>
          <span *ngIf="!isCollapsed" class="menu-text">{{ item.label }}</span>
        </a>
      </li>
    </ul>
    
    
  </div>
  <router-outlet></router-outlet>

  