<!-- Sidebar -->
<div [class.collapsed]="isCollapsed" class="sidebar">
  <div class="sidebar-header">
    <div class="header-content">
      <div class="images" *ngIf="!isCollapsed">
        <img
          src="https://github.com/AlexHernandez2698632494/pictures/blob/main/SIMATI/Logo%20IIIE-02%20-%20copia.png?raw=true"
          alt="Image 1" />
        <img src="https://github.com/AlexHernandez2698632494/pictures/blob/main/SIMATI/SIMATI%20UDB%202.0.png?raw=true"
          alt="Image 2" />
      </div>
      <div class="toggle">
        <input id="checkbox2" type="checkbox" [checked]="!isCollapsed" (change)="toggleSidebar()" />
        <label class="toggle2" for="checkbox2">
          <div id="bar4" class="bars"></div>
          <div id="bar5" class="bars"></div>
          <div id="bar6" class="bars"></div>
        </label>
      </div>
    </div>
  </div>

  <ul class="menu">
<!-- Menu Items -->
<li *ngFor="let item of menuItemsTop" class="menu-item" [class.open]="item.isSubmenuOpen" [class.active]="isActive(item.route)">
  <div (click)="item.submenu.length === 0 ? navigateTo(item.route) : toggleSubmenu(item)">
    <i class="material-icons" [ngClass]="{'active-icon': isActive(item.route)}">{{ item.icon }}</i>
    <span *ngIf="!isCollapsed">{{ item.label }}</span>
  </div>

  <!-- Submenu -->
  <ul class="submenu" *ngIf="item.isSubmenuOpen">
    <li *ngFor="let subItem of item.submenu" class="submenu-item" [class.active]="isActive(subItem.route)">
      <a [routerLink]="subItem.route">{{ subItem.label }}</a>
    </li>
  </ul>
</li>

<!-- Menu Items Bottom -->
<li *ngFor="let item of menuItemsBottom" class="menu-item" [class.active]="isActive(item.route)" (click)="logout()">
  <a href="javascript:void(0)">
    <i class="material-icons" [ngClass]="{'active-icon': isActive(item.route)}">{{ item.icon }}</i>
    <span *ngIf="!isCollapsed">{{ item.label }}</span>
  </a>
</li>

    <div class="separator">
      <hr />
    </div>

    <!-- Bottom Menu (e.g., Logout) -->
    <li *ngFor="let item of menuItemsBottom" class="menu-item" [class.active]="isActive(item.route)" (click)="logout()">
      <a href="javascript:void(0)">
        <i class="material-icons" [ngClass]="{'active-icon': isActive(item.route)}">{{ item.icon }}</i>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </a>
    </li>
  </ul>
</div>