<div>
    <app-nav></app-nav> <!-- Barra lateral -->
    <router-outlet></router-outlet> <!-- Renderiza vistas dinámicas -->
</div>
<div class="center">
    <div class="main-container">
        <div class="header">
            <button mat-icon-button class="back-button" (click)="onBackClick()">
                <mat-icon>arrow_back</mat-icon> <!-- Icono de regresar -->
            </button>
            <h1 class="title">Registro de nueva alerta</h1>
        </div>

        <div class="form-container">
            <h2 class="form-title">Registro de alertas</h2>
            <hr class="separator" />
            <p class="form-description">Información acerca de las alertas</p>
            <p class="form-instruction">Ingrese la información que se solicita</p>

            <!-- Formulario -->
            <form [formGroup]="AlertForm">
                <h3 class="form-row">Informacion general</h3>
                <div class="row">
                    <div class="input-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput id="nombre" formControlName="nombre" type="text"
                                placeholder="Ingrese nombre" />
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="input-field">
                        <mat-form-field appearance="fill" class="color-field">
                            <mat-label>Color</mat-label>
                            <div class="color-container">
                                <input matInput formControlName="color" class="inputColor" placeholder="#FFFFFF" />
                                <ngx-colors
                                    class="ngx-colors"
                                    ngx-colors-trigger
                                    [ngModelOptions]="{ standalone: true }"
                                    [ngModel]="AlertForm.get('color')?.value"
                                    (ngModelChange)="onColorChange($event)"
                                    acceptLabel="Select"
                                    cancelLabel="Cancel"
                                >
                                </ngx-colors>
                            </div>
                        </mat-form-field>
                    </div>

                </div>
                <h3 class="form-row">Valores</h3>
                <div class="row">
                    <div class="input-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Rango Inicial</mat-label>
                            <input matInput id="rango-inicial" formControlName="rangoInicial" type="number"
                                placeholder="1" min="1" />
                            <mat-icon matSuffix>123</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="input-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Rango final</mat-label>
                            <input matInput id="rango-final" formControlName="rangoFinal" type="number"
                                placeholder="1" />
                            <mat-icon matSuffix>123</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="input-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Nivel</mat-label>
                            <input matInput id="nivel" formControlName="nivel" type="number" placeholder="1" min="1"
                                max="5" />
                            <mat-icon matSuffix>123</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <h3 class="form-row">Variable</h3>
                <div class="row">
                    <div class="input-field">
                        <mat-form-field appearance="fill">
                            <mat-label>Variable</mat-label>
                            <input matInput id="variable" formControlName="variable" type="text"
                                placeholder="Variable" />
                            <mat-icon matSuffix>description</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button color="primary" class="register-button" type="submit">
                    Registrar alerta
                </button>
            </form>
        </div>
    </div>
</div>