.center{
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    min-height: 97vh; 
    transition: margin-left 0.3s ease;
  }
  
  .shifted {
    margin-left: 14%; 
    transition: margin-left 0.3s ease; 
  }

  .main-container {
    width: 80%;
    max-width: 85%;
    padding: 20px; /* Ajusta este valor según el tamaño de tu sidebar */
    width: calc(100% - 120px); /* Asegura que el contenedor ocupe el espacio restante */
    box-sizing: border-box;
  }
  